
/* Default styles for the body */
body {
  transition: transform 0.3s ease-in-out; /* Added a transition for smooth effect */
  margin-top: 0; /* Initially, set margin-top to 0 */
}

/* Styles for hiding the navbar when scrolling down */
body.scroll-down {
  transform: translateY(-100%);
}

/* Styles for showing the navbar when scrolling up */
body.scroll-up {
  transform: translateY(0);
}


.main-hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  background-image: url('images/pexels-max-rahubovskiy-7031705.jpg');
  background-size: cover;
  background-position: center;

  /* Film-like overlay styles */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.hero-section-text {
  z-index: 2;
  position: relative;
  text-align: center;
}

.hero-section-text h1 {
  margin: 0;
  font-size: 3rem;
}

.hero-section-text p {
  margin: 20px 0;
}

.hero-section-btn {
  z-index: 2;
  margin-top: 20px;
  display: inline-block; /* Display as inline block to avoid full width */
  padding: 10px 20px; /* Add padding for a more button-like appearance */
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.hero-section-btn:hover {
  background-color: #fff;
  color: #000;
}





.custom-navbar {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.navbar-brand img {
  margin-right: 10px;
  height: 100vh; /* Set height to cover the whole viewport height */
  object-fit: cover; /* Ensure the image covers the entire space without distortion */
}

.navbar-brand-text {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d07a34;
}


#about-section {
  padding: 50px;
  background-color: #f8f9fa;
}

#about-section p {
  color: #fff;
}


/* CSS for the GYM Feature Section */
.feature {
  background-color: #FFB996;
  height: 100vh;
}

.feature h4.text-primary,
.feature h4.display-4 {
  color: #000; /* Set color of h4 to black */
}

.feature p,
.feature i {
  color: #fff; /* Set color of rest of the text to white */
}




.container-fluid.nav-bar {
  margin-top: 0 !important;
}
